* {
  max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* Nav bar, content, and logo */


nav {
    width: -webkit-fill-available;
    height: 50px;
    align-items: center;
    min-height: 8vh;
} 

nav ul {
    display: flex;
    float: right;
    justify-content: space-between; 
    padding: 0 20px;
    list-style: none;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px; 
}
  
nav a {
    background-color: unset;
    text-decoration: none;
    display: inline-block; 
    padding: 0 20px;
    font-size: 1.25em;
    align-items: center;
    margin-top: 10px;
    color: dimgray;
}
  
ul li a {
    transition: all 0.3s ease 0s;
    color:#6B6A71;
    margin-left: 10px;
}

nav a:hover {
    color:goldenrod;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 60px;
    transition: all 0.3s ease 0s;
    font-family: 'Bebas Neue', cursive;   
}

.burger{
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: black;
}


.button button{
    display: flex;
    float: left;
    border: none;
    border-radius: 70px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: ghostwhite;
    font-family: 'Bebas Neue', cursive;   
}

.intro {
  display: flex;
  align-items: center;
}

.banner-div {
  display: flex;
  margin-bottom: 100px;
}

.banner {
  display: flex;
  flex-direction: column;
  font-family: 'Bebas Neue', cursive;   
  height: 100px;
}

.inline {
  display: flex;
  flex-direction: row;
}

/* About me section  */
.first-section {
  padding: 20px;
  flex-direction: row;
}

#about {
  font-family: 'Bebas Neue', cursive;  
    
}

#about p {
  display: flex;
  font-family:'Times New Roman', Times, serif;
  line-height: 40px;
  font-size: 20px;
}

/* projects */
.projects {
  display: flex;
}

/* closing section*/
.thanks {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  font-family: 'Bebas Neue', cursive;
  font-size: 56px;
}

/* contact info and buttons section */
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  margin: 0;
  margin: 0 30px 0 50px;
}

#contact h3 {
  font-family: 'Bebas Neue', cursive;
  text-decoration: underline goldenrod;
  font-size: 36px;
  margin-bottom: 50px;

}
#section-three {
  display: flex;;
  padding: 200px 40px 0 40px;
}

.github{
  width: 60px;
  height: auto;
  margin-bottom: 20px;
}

.instagram {
  width:60px;
  height: auto;
  margin-bottom: 20px;
}

.linkedin {
  width: 70px;
  height: auto;
  margin-bottom: 20px;
}


    

/*mobile responsive - code mobile view*/
@media only screen and (max-width: 600px) and (min-width: 200px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    display: none;
  }

  .intro {
    width: auto;
    height: 500px;
    justify-content: center;
  }

  h1 {
    text-align: center;
  }

  .banner {
    width: auto;
    justify-content: center;
    align-items: center;
  }

  .inline {
    display:none
  }

  .inline-mobile {
    width: auto;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    align-items: center;
    text-align: center;
  }

  .first-section {
    margin:auto;
    text-align: center;
  }

  .about {
    width: auto;
  }

  .projects {
    flex-direction: column;
    row-gap:20px;
    padding: 30px;
  }

  .project-1-container, .project-2-container, .project-3-container {
    border-style: solid;
    border-color: black;
    width: auto;
    margin-bottom: 10px;
  }

  .project-1-image, .project-2-image, .project-3-image {
  
  }




}

@media screen and (max-width: 2000px)and (min-width: 601px) {

  @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

  body {
    overflow-x: hidden;
  }

  .burger {
    display: none;
  }

  .inline-mobile {
    display: none;
  }

  nav {
    position:absolute;
    right: 0px;
    height:92vh;
    top:8vh;
    display: flex;
    flex-direction: column;
    align-items: center ;
   
  }

  .intro {
    height: 800px;
    margin-left: 60px;
    margin-top: 60px;
  }

}
