* {
  max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* Nav bar, content, and logo */


nav {
    width: -webkit-fill-available;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
} 

nav ul {
    display: flex;
    float: right;
    justify-content: space-between; 
    padding: 0 20px;
    list-style: none;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px; 
}
  
nav a {
    background-color: unset;
    text-decoration: none;
    display: inline-block; 
    padding: 0 20px;
    font-size: 1.25em;
    align-items: center;
    margin-top: 10px;
    color: dimgray;
}
  
ul li a {
    transition: all 0.3s ease 0s;
    color:#6B6A71;
    margin-left: 10px;
}

nav a:hover {
    color:goldenrod;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 60px;
    transition: all 0.3s ease 0s;
    font-family: 'Bebas Neue', cursive;   
}

.burger{
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: black;
}


.button button{
    display: flex;
    float: left;
    border: none;
    border-radius: 70px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: ghostwhite;
    font-family: 'Bebas Neue', cursive;   
}

.intro {
  display: flex;
  align-items: center;
  height: 800px;
  margin-left: 60px;
  margin-top: 60px;
}

.banner-div {
  display: flex;
  max-width: 100%;
  margin: 10px 0 0 30;
  font-size: 50px;
  margin-bottom: 100px;
}

.banner {
  display: flex;
  flex-direction: column;
  float: right;;
  font-family: 'Bebas Neue', cursive;   
  height: 100px;
}

.inline {
  display: flex;
  flex-direction: row;
}

/* About me section  */
.first-section {
  justify-content: space-between;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 100px 30px 0px 30px;
  margin-bottom: 100px;
  margin-left: 30px;
}

.headshot {
  color: goldenrod;
  display: flex;
  flex-direction: row;
  float:right;
  padding: 30px;
  margin-left: 40px;
}

#about {
  height: 500px;
  width: 55%;
  font-size: 38px;
  margin-left: 30px;
  font-family: 'Bebas Neue', cursive;  
    
}

#about p {
  display: flex;
  margin-top: 30px;
  font-family:'Times New Roman', Times, serif;
  line-height: 40px;
  font-size: 20px;
}

/* closing section*/
.thanks {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  font-family: 'Bebas Neue', cursive;
  font-size: 56px;
}

/* contact info and buttons section */
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  margin: 0;
  margin: 0 30px 0 50px;
}

#contact h3 {
  font-family: 'Bebas Neue', cursive;
  text-decoration: underline goldenrod;
  font-size: 36px;
  margin-bottom: 50px;

}
#section-three {
  display: flex;;
  padding: 200px 40px 0 40px;
}

.github{
  width: 60px;
  height: auto;
  margin-bottom: 20px;
}

.instagram {
  width:60px;
  height: auto;
  margin-bottom: 20px;
}

.linkedin {
  width: 70px;
  height: auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  /* .burger {
    display:none;
  } */
}
    

/*mobile responsive - code mobile view*/
@media screen and (max-width: 768px) {

  @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

  body {
    overflow-x: hidden;
  }

  .nav-links {
    display: none;
  }

  nav {
    position:absolute;
    right: 0px;
    height:92vh;
    top:8vh;
    display: flex;
    flex-direction: column;
    align-items: center ;
   
  }






  
    }
    /* contact me */
    #contact {
      width: 100%;
  
      margin: 50px 10px 0 10px;
    }
    .github {
      width: 100px;
      height: auto;
    }
    .linkedin {
      width: 100px;
      height: auto;
    }
    .footer_crunch {
      width: 100%;
      height: auto;
    }
    #section-three {
      display: block;
      padding: 30px 10px 10px;
    }
    .js_logo {
      border-radius: 50%;
      height: auto;
      width: 75%;
      float: right;
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .img-container {
      height: 60vh;

    }
    nav#nav .logo {
      padding: 20px;
    }
  }
  