* {
  max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.line {
  float: right;
  color:gray;
  padding: 50px 0 200px 30px
}


/* Nav bar, content, and logo */


nav {
    width: -webkit-fill-available;
    height: 50px;
} 

nav ul {
    display: flex;
    float: right;
    justify-content: space-between; 
    padding: 0 20px;
    list-style: none;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px; 
}
  
nav a {
    background-color: unset;
    text-decoration: none;
    display: inline-block; 
    padding: 0 20px;
    font-size: 1.25em;
    align-items: center;
    margin-top: 10px;
    color: dimgray;
}
  
ul li a {
    transition: all 0.3s ease 0s;
    color:#6B6A71;
    margin-left: 10px;
}

nav a:hover {
    color:goldenrod;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 60px;
    transition: all 0.3s ease 0s;
    font-family: 'Bebas Neue', cursive;   
}

.button button{
    display: flex;
    float: left;
    border: none;
    border-radius: 70px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: ghostwhite;
    font-family: 'Bebas Neue', cursive;   
}

.intro {
  display: flex;
  align-items: center;
  height: 500px;
  margin-left: 60px;
  margin-top: 60px;
}

.banner-div {
  display: flex;
  max-width: 100%;
  margin: 10px 0 0 30;
  font-size: 50px;
  margin-bottom: 100px;
}

.banner {
  display: flex;
  flex-direction: column;
  float: right;;
  font-family: 'Bebas Neue', cursive;   
  height: 100px;
}

.inline {
  display: flex;
  flex-direction: row;
}

/* About me section  */
.first-section {
  justify-content: space-between;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
  height: 500px;
  padding: 100px 30px 0px 30px;
}

.headshot {
  color: goldenrod;
  display: flex;
  flex-direction: row;
  float:right;
  padding: 30px;
  margin-left: 40px;
}

#about {
    width: 55%;
    font-size: 38px;
    font-family: 'Bebas Neue', cursive;  
    
}

#about p {
  display: flex;
  margin-top: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 40px;
  font-size: 20px;
}


/* projects section */
#project h2 {
  font-family: 'Bebas Neue', cursive;
  padding: 30px;
  text-decoration:underline goldenrod;
}
.first-textbox {
  text-align: center;
  align-content: center;
  font-size: 30px;
  margin-top: 150px;
}
.first-textbox .project-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 38px;
}

.button-2 img:hover {
  margin-left: 10px;
  opacity: 50%;
  border-color: black;
}
.horiseon {
    display:flex;
    margin-top: 40px;
}

.project-image {
    width: 80%;
}

.col-6 img {
  border-color: goldenrod; 
  border-style: solid;
}

/* closing section*/
.thanks {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  font-family: 'Bebas Neue', cursive;
  font-size: 56px;
}

/* contact info and buttons section */
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  margin: 0;
  margin: 0 30px 0 50px;
}

#contact h3 {
  font-family: 'Bebas Neue', cursive;
  text-decoration: underline goldenrod;
  font-size: 36px;
  margin-bottom: 50px;

}
#section-three {
  display: flex;;
  padding: 200px 40px 0 40px;
}

.github{
  width: 60px;
  height: auto;
}

.instagram {
  width:60px;
  height: auto;
}

.linkedin {
  width: 70px;
  height: auto;
}
    

/*mobile responsive - code mobile view*/
@media (max-width: 769px) {
    /* imports */
    @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
  
    /*Mobile Menu CSS*/
    .nav-toggle {
      cursor: pointer;
      height: 2rem;
      left: 2rem;
      position: fixed;
      top: 2rem;
      width: 3.6rem;
      z-index: 2;
    }
    .mobile-header {
      display: block !important;
    }
    .desktop-header {
      display: none;
    }
    .nav-toggle:hover {
      opacity: 0.8;
    }
  
    .nav-toggle .nav-toggle-bar,
    .nav-toggle .nav-toggle-bar::after,
    .nav-toggle .nav-toggle-bar::before {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background: gold;
      content: "";
      height: 0.6rem;
      transition: all 0.5s;
      width: 90%;
    }
  
    .nav-toggle .nav-toggle-bar {
      margin-top: 0;
    }
  
    .nav-toggle .nav-toggle-bar::after {
      margin-top: 0.8rem;
    }
  
    .nav-toggle .nav-toggle-bar::before {
      margin-top: -0.8rem;
    }
  
    .nav-toggle.expanded .nav-toggle-bar {
      background: transparent;
    }
  
    .nav-toggle.expanded .nav-toggle-bar::after,
    .nav-toggle.expanded .nav-toggle-bar::before {
      background: gold;
      margin-top: 0;
    }
  
    .nav-toggle.expanded .nav-toggle-bar::after {
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  
    .nav-toggle.expanded .nav-toggle-bar::before {
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  
    /* nav */
    .nav {
      background: #ffffff;
      color: white;
      cursor: pointer;
      display: block;
      font-size: 2rem;
      height: 100vh;
      left: -20rem;
      padding: 8rem 2rem 2rem 2rem;
      position: fixed;
      top: 0;
      transition: left 0.5s;
      width: 20rem;
      z-index: 1;
    }
  
    .nav.expanded {
      left: 0;
      float: left;
      width: 100%;
    }
  
    .nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
      float: left;
      width: 100% !important;
    }
  
    header {
      display: block;
      justify-content: inherit;
      align-items: inherit;
      opacity: 100%;
      height: 0;
      font-size: 16px;
    }
  
    .img-container .inner-container {
      width: 100%;
      height: auto;
      margin: 0px;
      padding: 20px 10px;
      float: left;
    }
    h1 {
      font-size: 36px;
    }
  
    h2 {
      font-size: 29px;
      padding: 12px 20px;
    }
    h4 {
      font-size: 14px;
    }
    #about p {
      margin-top: 15px;
      padding-right: 10px;
    }
  
    .first-section {
      display: block;
      height: auto;
      width: 100%;
    }
    #about {
      width: 100%;
      /*    see the comment on line 390      */
    }
    .portrait {
      width: 100%;
      height: 80%;
      background-size: contain;
      background-position: center;
  
      margin-right: 0;
    }
    .second-section {
      height: auto;
      clear: both;
    }
    #projects {
      margin: 50px 10px 0 10px;
    }
    .project-image {
      width: 90%;
    }
    .portrait img {
      float: none;
  
      border-radius: 100%;
      max-width: 300px;
      height: auto;
      margin: auto auto 30px auto;
      /*    to center make it display block and margin auto      */
      display: block;
    }
    .horiseon {
      display: block;
      margin-top: 40px;
    }
    .project-buttons a button {
      margin-bottom: 20px;
    }
    /* contact me */
    #contact {
      width: 100%;
  
      margin: 50px 10px 0 10px;
    }
    .github {
      width: 100px;
      height: auto;
    }
    .linkedin {
      width: 100px;
      height: auto;
    }
    .footer_crunch {
      width: 100%;
      height: auto;
    }
    #section-three {
      display: block;
      padding: 30px 10px 10px;
    }
    .js_logo {
      border-radius: 50%;
      height: auto;
      width: 75%;
      float: right;
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .img-container {
      height: 60vh;

    }
    nav#nav .logo {
      padding: 20px;
    }
  }
  